[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group chitangUI
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group chitangUI
	label-Verified = -1..+1 group chitangUI
	push = group chitangUI
	read = group chitangUI
	rebase = group chitangUI
	removeReviewer = group chitangUI
	submit = group chitangUI
[access "refs/heads/*"]
	create = group chitangUI
	push = group chitangUI
	pushMerge = group chitangUI
	read = group chitangUI
[access "refs/tags/*"]
	push = group chitangUI
